<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssafy.near">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Near"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".src.main.game.oxquiz.OXQuizActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.mynote.MyNoteActivity"
            android:exported="false" />
        <activity
            android:name=".src.edituserinfo.EditUserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".src.signup.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".src.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.handsign.HandSignDetailActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>