.react-hooks-paginator .page-item:last-child .page-link {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.react-hooks-paginator .page-item:hover .page-link, .react-hooks-paginator .page-item.active .page-link
 { background-color: #5b9cff;
  border-color: #5b9cff;      
  color: #fff; }
  
  .react-hooks-paginator .page-link {border: 1px solid #dee2e6;   color: #4a4a4a;  margin-left: -1px;
       outline: none;  padding: 0.5rem 0.75rem; text-decoration: none;  transition: all 0.2s; }

.page-item .active { 
  background-color: #e924df; } 

.page-selection {
  background-color: #b7335b;
}

.page-link {
  margin-top: 0px;
  width: 60px; 
    height: 60px; 
    background-color: #ffffff;
    font-size: x-large;
    font-weight: bold;
}

.page-item.active .page-link {
  background-color: #d33838;
  border-color: #3895d3;
  color: #fff;
}


