.h11{
  font-size: 4.3em;
  color: rgb(230, 240, 251);
  font-weight: bold;
  border-right: .02em solid;
  animation: caret 0.7s steps(1) infinite;
}
.h12{
  font-size: 1.3em;
  color: rgb(230, 240, 251);
  font-weight: bold;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}